@import url("https://cdn.syncfusion.com/ej2/material.css");

.App {
  text-align: center;
}

.ap-container{
  margin: 50px 230px;
}
.booking-btn{
  background-color: #f1f1f1;
  padding: 10px 70px;
  color: rgba(128, 128, 128, 0.856);
  border: none;
  margin: 40px auto;
}
.booking-btn:hover{
  background-color: lightgray;
  color: rgba(0,0,0,.5);
}